div.cont {
    margin-block-start: 13vh;
    display: block;
    height: 100%;
}

div.nave {
    margin-block-end: 1vh;
}

div.inicio{
   display: block;
   margin: 0 auto;
   width: 100vw;
}

div.cont::after {
    content: "";
    background-image: url("../../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50vw auto;
    opacity: 0.25;
    margin-left: auto;
    margin-top: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    display: block;
}

footer {
    background-color: #45d600;
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}