div.login {
	background-color: #444444;
	text-align: center;
}

div.rowing {
	position: absolute;
	height: 100%;
}
h1.login {
	font-size: 2rem;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
	div.img {
		margin-bottom: 4vh;
	}
}

h2 {
	margin-top: 2vh;
	color: white;

}

body{
	margin-top: 5vh;
}
div.formulario {
	margin-bottom: 1rem;
	margin-top: 5vh;
}
label {
	font-size: 4vh;
	font-family: Arial, Helvetica, sans-serif;
	color: #ffffff;
}

.fondo {
	background-color: turquoise;
}

header {
	background-color: #45d600;
}

.buttons{
	margin-top: 5vh;
}
