<div class="row">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="col-sm-3">
            <a class="navbar-brand col-sm-6" href="coordinador">
                <img src="../assets/logo.png" alt="bannes" class="col-sm-12 image">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#coordinador"
                aria-controls="coordinador" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse col-sm-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item col-sm-3">
                    <a class="nav-link" [routerLink]="['inicio']">Inicio</a>
                </li>
                <li class="nav-item col-sm-3">
                    <a class="nav-link" [routerLink]="['ayudas/page/0']">Ayudas </a>
                </li>
                <li class="nav-item col-sm-3">
                    <a class="nav-link" [routerLink]="['estudiante/page/0']">Estudiantes</a>
                </li>
                <li class="nav-item col-sm-3">
                    <a class="nav-link" [routerLink]="['profesores/page/0']">Profesores</a>
                </li>
                <li class="nav-item col-sm-3">
                    <a class="nav-link" [routerLink]="['grupos/page/0']">Grupos</a>
                </li>
            </ul>

        </div>
        <span class="cerrar col-sm-2"> Bienvenido {{nombre}} - <button type="button" class="btn btn-success cerrar"
                (click)="cerrarSesion()">Cerrar Sesion</button> </span>
    </nav>
</div>