nav{
    background-color: #444444;
}
image{
    height: 10rem;
    width: 15rem;
}

.navbar-brand:hover{
    opacity: 0.25;
}
span.none{
    display: none;
}
span.line{
    display: inline;
}

span.cerrar{
    color: white;
}

a{
    color: white;
}
