<div class="row ml-3" *ngIf="estudiante">
    <div id="tittle" class="col-sm-4">
        <h3 class="col-sm-12">{{estudiante.nombre+' '+estudiante.apellido}} <i class="fas fa-user-edit"
                (click)="editarEstudiante(estudiante)"></i></h3>
    </div>
    <div class="col-sm-8 ">

        <button type="button" class="btn btn-info col-sm-3 ml-2 mr-2 float-right" (click)="descargarHojaVida()">Hoja de
            Vida <i class="fas fa-file-download float-right mt-1"></i></button>
        <button type="button" class="btn btn-info col-sm-3 ml-2 mr-2 float-right"
            (click)="descargarInformeRegistroPsicologico()">Informe Psicologia <i
                class="fas fa-file-download float-right mt-1"></i></button>
        <button type="button" class="btn btn-success col-sm-3 ml-2 mr-2 float-right" (click)="crearRegistro()"> Informe
            Psicologia<i class="fas fa-address-card float-right mt-1"></i> <i
                class="fas fa-plus float-right mt-1 mr-1"></i> </button>
    </div>
</div>
<hr class="ml-4 mr-4">
<div class="row ml-3 mr-3" id="basic-info" *ngIf="estudiante">
    <div class="col-sm-1" id="image-profile">
        <img src="../assets/user.png" alt="" *ngIf="!estudiante.foto">
        <img src="{{estudiante.foto}}" alt="" *ngIf="estudiante.foto">

    </div>
    <div class="col-sm-3">
        <p><b>Nro. Identificación: </b>{{estudiante.documento}}</p>
        <p><b>Grado: </b>{{estudiante.grupo.grado+'-'+estudiante.grupo.identificador}}</p>
        <p><b>Acudiente: </b>{{estudiante.acudiente.nombre+' '+estudiante.acudiente.apellido}} <i
                class="fas fa-eye ml-2" (click)="mostrarAcudiente()"></i></p>
        <p><b>Edad: </b>{{estudiante.edad}}</p>
        <!-- <p><b>Fecha Nacimiento: </b>{{estudiante.nacimiento}}</p> -->
    </div>
    <div class="vl"></div>
    <div class="col-sm-7 excusa">
        <h5>Última Inacistencia</h5>
        <div class="row" *ngIf="ultimaInasistencia.fecha">
            <div class="col-sm-3">
                <p><b>Fecha:</b> <br>{{ultimaInasistencia.fecha}}</p>
            </div>
            <div class="col-sm-3">
                <p><b>Tiene Excusa:</b> <br><i class="fas fa-check" *ngIf='ultimaInasistencia.excusa'></i> <i
                        class="fas fa-times" *ngIf="!ultimaInasistencia.excusa"></i></p>
            </div>
            <div class="col-sm-3">
                <p><b>Ver Excusa:</b> <br><i class="fas fa-eye" *ngIf='ultimaInasistencia.excusa'></i> <i
                        class="fas fa-eye-slash" *ngIf="!ultimaInasistencia.excusa"></i></p>
            </div>
            <div class="col-sm-3"><button type="button" class="btn btn-info col-sm-12 ml-2 mr-2 float-right">Ver Todo <i
                        class="fas fa-calendar-day float-right mt-1"></i></button></div>
        </div>
        <div class="row" *ngIf="!ultimaInasistencia.fecha">
            <div class="col-sm-12">
                <p>El estudiante no faltado hasta la fecha</p>
            </div>
        </div>

    </div>

</div>
<hr class="ml-4 mr-4">
<div class="row ml-4 mr-3" id="extra-clase" *ngIf="estudiante">
    <div class="row col-sm-12">
        <h5 class="col-sm-9">Actividades Extraclase</h5>
        <button type="button" class="btn btn-success col-sm-1 ml-4 mb-1 float-right">Agregar <i
            class="fas fa-plus float-right mt-1"></i></button>
        <button type="button" class="btn btn-info col-sm-1 ml-1 mb-1 float-right">Ver Todo <i
                class="fas fa-hiking float-right mt-1"></i></button>
     
    </div>

    <div class="row col-sm-12">
        <table class="table table-striped ml-5">
            <thead>
                <tr>
                    <th scope="col">Actividad</th>
                    <th scope="col">Información</th>
                    <th scope="col">Fecha Inicio</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let actividad of estudiante.actividades">
                    <th scope="row">{{actividad.nombre}}</th>
                    <td>{{actividad.descripcion}}</td>
                    <td>{{actividad.fecha_inicio}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
<hr class="ml-4 mr-4">
<div class="row ml-4 mr-3" id="ayudas" *ngIf="estudiante">
    <div class="row col-sm-12">
        <h5 class="col-sm-10">Ayudas</h5>
        <button type="button" class="btn btn-info col-sm-1 ml-4 mb-1 float-right">Ver Todo <i
                class="fas fa-hands-helping float-right mt-1"></i></button>
    </div>

    <div class="row col-sm-12">
        <table class="table table-striped ml-5">
            <thead>
                <tr>
                    <th scope="col">Ayuda</th>
                    <th scope="col">Cantidad recibida</th>
                    <th scope="col">Fecha Primera Entrega</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let ayuda of resumenAyudas">
                    <th scope="row">{{ayuda.descripcion}}</th>
                    <td>{{ayuda.count}}</td>
                    <td>{{ayuda.min}}</td>
                </tr>

            </tbody>
        </table>
    </div>

</div>
<div id="pdfs">
    <app-pdf-informe-psicologico></app-pdf-informe-psicologico>
</div>