tr {
    font-size: 12px;
    .date {
        width: 30%;
    }
    .anotation {
        width: 70%;
    }
}
#header {
    h5 {
        font-size: 16px;
    }
    h6 {
        font-size: 14px;
    }
    .alcaldia {
        height: 100px;
    }
    p {
        font-size: 13px;
        margin: 0;
    }
}

#element-to-print-vida {
    .header {
        #image-profile{
height: 50px;
        }
       
    }
}
