<div class="row">
    <div class="col-sm-3 mx-auto">
        <h4>Filtrar</h4>
        <form (submit)=filtrar(nombre,apellido,identificacion)>
            <div class="formulario row">
                <div class="form-group col-sm-12">
                    <input #nombre type="text" class="form-control" id="nombre" aria-describedby="emailHelp"
                        placeholder="Nombre">

                </div>
                <div class="form-group col-sm-12">
                    <input #apellido type="text" class="form-control" id="apellido" aria-describedby="emailHelp"
                        placeholder="Apellido">

                </div>
                <div class="form-group col-sm-12">
                    <input #identificacion type="text" class="form-control" id="identificacion"
                        aria-describedby="emailHelp" placeholder="Identificacion">
                </div>
            </div>
            <div class="from-group col-sm-12 buttons">
                <button type="submit" class="btn btn-success col-sm-12">Buscar <i class="fas fa-search float-right"></i></button>
            </div>
        </form>
        <hr>
        <form (change)=filtrarGrupo(grupo)>
            <div class="formulario row">
                <div class="form-group col-sm-12">
                    <label for="Ingreso"><h4>Grupo</h4></label>
                    <select class="form-control" #grupo id="grupo">
                        <option value="" selected>Seleccione Grupo...</option>
                        <option value="{{gru.id}}" *ngFor="let gru of grupos">{{gru.grado+'-'+gru.identificador+ ' : '+gru.profesor.nombre}}</option>
                    </select>

                </div>
            </div>
        </form>
    </div>
    <div class="vl"></div>
    <div class="col-sm-8">
    
        <div class="card-body text-secondary col-sm-12">
            <div class="col-sm-1 float-right">
                <a  class="btn btn-success col-sm-12 grandes" (click)="crearEstudiante()"><i class="fas fa-user-plus"></i></a>
            </div>
            <h5 class="card-title">Listado de estudiantes</h5>
       
            <div *ngIf="estudiantes?.length<=0" class="alert alert-info nohay">
                No hay registros en la base de datos
            </div>
            <table class="table table-bordered table-striped" *ngIf="estudiantes?.length>0">
                <thead>
                    <tr>
                        <th></th>
                        <th>id</th>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Edad</th>
                        <th>Grupo</th>
                        <th colspan="2">Total: {{paginador.totalElements}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let estudiante of estudiantes">
                        <td class="boton" (click)="irHojaVida(estudiante.id)"><i class="fas fa-eye"></i></td>
                        <td>{{estudiante.documento}}</td>
                        <td>{{estudiante.nombre}}</td>
                        <td>{{estudiante.apellido}}</td>
                        <td>{{estudiante.edad}}</td>
                        <td>{{estudiante.grupo.grado+'-'+estudiante.grupo.identificador }}</td>
                        <td class="boton" (click)="editarEstudiante(estudiante)"><i class="fas fa-user-edit"></i></td>
                        <td class="boton" (click)="delete(estudiante)"><i class="fas fa-trash-alt"></i></td>
                    </tr>
                </tbody>
            </table>
            <div class="float-right">
                <paginator-nav *ngIf="paginador" [paginador]="paginador" [lista]="'/coordinador/estudiante/page/'"></paginator-nav>
            </div>
           
        </div>
    </div>
</div>