.vl {
    border-left: 1px solid black;
    height: 70vh;
}

table {
    background-color: white;
}
.boton {
    height: 100%;
}

.fa-calendar-plus {
    color: red;
    height: 23px;
}

.fa-calendar-minus {
    color: green;
    height: 23px;
}
