<div class="modal-header">
    <h4 class="modal-title">Agregar visita acompañamiento psicologico</h4>

    <button type="button" class="close" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="p-3 modal-body">
    <div class="row">
        <form class="col-sm-12" [formGroup]="regularForm">
            <div class="col-sm-12">
                <h3>Anotaciones</h3>
            </div>
            <textarea #anotacion class="form-control ml-3 pr-3" id="anotacion" name="anotacion"
                formControlName="anotacion" aria-describedby="emailHelp" placeholder="Notas de la sesión"></textarea>
            <hr>
            <div class="form-group col-sm-12">
                <label for="diagnostico">Agregar Diagnostico en esta sesión</label>
                <input #descripcion type="text" class="form-control" id="diagnostico" name="diagnostico"
                    aria-describedby="emailHelp" placeholder="Nombre" formControlName="diagnostico">
            </div>

        </form>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-success col-sm-2" (click)="agregarRegistro()">Guardar <i
            class="fas fa-plus-circle"></i></button>
    <button class="btn btn-danger col-sm-2" (click)="close()">Cancelar <i class="fas fa-times"></i></button>
</div>